
<br/><br/><br/>

<form action="/login" method="post">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 form-group">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="text" name="email" id="loginEmail" class="form-control" placeholder="Your Email Address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="password" id="loginPass" name="password" class="form-control" placeholder="Your Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" name="login" class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
