<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>MovieQ</title>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />
        <style type="text/css">
            h2 { margin-top: 0px;}
            p.overview { overflow: scroll; height: 165px; }
            div.row.movie { margin-bottom: .5em; }
            span.review { float: right; font-size: .5em;padding-top: 1em; }
            a.watched { float: right; cursor: pointer; text-decoration: none; }
        </style>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">MovieQ</h1>
            {{{body}}}
        </div>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/public/scripts.js"></script>
    </body>
</html>
