h2 { margin-top: 0px;}
p.overview { overflow: scroll; height: 165px; }
div.row.movie { margin-bottom: .5em; }
span.review { float: right; font-size: .5em;padding-top: 1em; }
a.watched { float: right; cursor: pointer; text-decoration: none; }

